.mainTextstyles {
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
}
.nav__list {
  gap: 46px;
  display: flex;
  font-weight: 500;
  list-style-type: none;
}
.nav__link {
  color: $main-text-color;
  @extend .mainTextstyles;
  display: block;
  padding: 32px 0;
  transition: color 250ms $cubic-bezier;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $acent-color;
  }
}
.contact {
  list-style-type: none;
  margin-left: auto;
  display: flex;
  align-items: center;
}
.contact__link {
  width: 14px;
  height: auto;
  transition: color 250ms $cubic-bezier;
  color: $owner-text-color;
  display: flex;
  align-items: center;
  @extend .mainTextstyles;

  &:hover,
  &:focus {
    color: $acent-color;
  }
}
.nav__icon {
  margin-right: 10px;
  fill: currentColor;
}
.nav__link-current {
  position: relative;
  color: $acent-color;

  &::after {
    display: block;
    content: "";
    border-radius: 2px;
    background: $acent-color;
    padding: 2px;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 360px) {
  .mobile_nav-link {
    font-family: $main-font;
    font-size: 40px;
    letter-spacing: 0.02em;
    line-height: 1.17;
    color: $main-text-color;
    font-weight: 500;
    gap: 36px;
  }
  &:hover,
  &:focus {
    color: $acent-color;
  }
}

@media (min-width: 768px) {
  .header {
    height: 80px;
  }
  .nav {
    margin-left: 93px;
  }
  .contact {
    flex-direction: column;
    align-items: start;
    height: 14px;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 80px;
  }
  .nav {
    margin-left: 93px;
  }
  .contact {
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.page-header {
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.page-header .container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (max-width: 767px) {
}

.menu-toggle {
  position: absolute;
  right: 15px;
  top: 10px;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: $main-text-color;
  &:hover,
  &:focus {
    fill: $acent-color;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $secondary-text-color;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu .linkk {
  display: block;
  padding: 10px;
  color: $main-text-color;
  text-decoration: none;
  .current {
    color: $acent-color;
  }
}
