.teamMainStyles {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team__title {
  margin-bottom: 50px;
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.03em;
}
.team__background {
  background-color: $buttons-port-color;
}
.team__list {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.team__employee-position {
  color: var(--owner-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.team__employee-name {
  color: $main-text-color;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__list-item {
  text-align: center;
  background: $secondary-text-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__desc-box {
  padding: 30px 0;
}
.team__social-list {
  @extend .teamMainStyles;
  gap: 10px;
  margin: auto;
  margin-top: 16px;
}
.team__social-icon {
  fill: currentColor;
}
.team__social-link {
  @extend .teamMainStyles;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $icon-color;
  transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier;
  &:hover,
  &:focus {
    background: $acent-color;
    color: $buttons-port-color;
  }
}
@media (min-width: 360px) {
  .team__list {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .team__list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, auto);
  }
}

@media (min-width: 1200px) {
  .team__list {
    display: flex;
    grid-auto-flow: row;
    flex-direction: row;
  }
}
